
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 72px;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%), 0 0 10px 1px rgb(255 255 255 / 20%);
  

}
.nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}
.nav ul {
    margin-right: 120px;
    margin-top: 20px;
}
.nav ul a{
 
 margin-right: 10px;
 padding: 10px 20px 10px 20px;
 font-size: 12px;
 text-align: center;
}
nav ul .signup {
   color:white;
   
   background-color:rgb(0, 112, 186); ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    font-weight: bold;
    
    font-family:  pp-sans-big-light,Helvetica Neue,Arial,sans-serif;;
   }
.nav ul .login {
    border: 1px solid rgb(0, 112, 186);
    color: rgb(0, 112, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    font-weight: bold;
    font-family:  pp-sans-big-light,Helvetica Neue,Arial,sans-serif;;
   }
.menu a{
   display: none;
}
.logo{
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    
}
.PERSONAL a{
    font-size: 15px;
    font-weight: 500;
}
.PERSONAL{
    position: absolute;

    padding:14px;
    margin-top: 20px;
    margin-left: 620px;
    justify-content: center;
    display: flex;
}

.dropdown{
  display: none;
    background-color: rgb(4, 4, 71);
    width: 100%;
    height: 150px;
}
.dropdown1{
    background-color: rgb(4, 4, 71);
    width: 100%;
    height: 150px;
    

}
.Background1{
    height: 400px;
}
.dropdown1 .Background{
    margin-top: -1000px;
}
.Background{
 height: 100%;
}
.overLay{
    position: absolute;
    width: 100%;
    height: 360px;
    background-color: rgba(51, 51, 51, 0.027);
    top:80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    
   
    
}
.FirstLine{

    font-family:  pp-sans-big-light,Helvetica Neue,Arial,sans-serif;
    font-weight: 200;
    font-size: 40px;
}
.overLay .signFree{
    margin-top: 100px;
}
.signFree{
    background-color: rgb(0, 112, 186);
    width: 400px;
    height: 50px;
    border-radius: 25px;
 position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 700;
    margin-top: 50px;
}

.own h1{
    font-family:  pp-sans-big-light,Helvetica Neue,Arial,sans-serif;

    font-size: 14px;
    margin-top: 120px;
    font-size: 700;

}
.own h1 a:hover{
    color: blue;
}
.paypal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    margin-top: 240px;
}
.paypal h6{
  color: rgb(44, 46, 47);
    font-weight:lighter;
    line-height: 1.25;
    font-family:  pp-sans-big-light,Helvetica Neue,Arial,sans-serif;
    font-size: 2.857rem;
    letter-spacing: .02em;
   
   margin-top: 120px;
}
.icon{
    margin-top: -50px;
}

.Individual h1{
   
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.Find h1{
    margin-top: -5px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.Learn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
   
    border-radius: 25px;
    border: 1px solid rgb(0, 112, 186);
    color: rgb(0, 112, 186);
    font-size: bold;
    width: 200px;
}
.Learn a{
    font-weight: bold;
    font-family:  pp-sans-big-light,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.flex{
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 700px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex .connect{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: rgb(44, 46, 47);
    font-size: 35px;
    font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.25;
}
.buyers{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    border-bottom: 1px solid rgb(120, 120, 120);
    margin-top: 20px;
    justify-content: center;
    display: flex;
    font-size: 14px;
    line-height: inherit;
}
.buyers h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: inherit;
}
.flexbox{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
    
}
.flexbox div{
    margin-left: 20px;
}

.flexbox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-left: -50px;
}
.flexbox1 h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.flexbox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
}
.flexbox2 h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.flexbox3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-left: -10px;
}
.flexbox3 h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line .number h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 50px; 
  
    border-radius: 55px;
    width: 50px;
    height: 50px;
    
}
.number {
    font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: bold;
}
.learnMore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(0, 112, 186);
    border-radius: 50px;
    margin-top: 90px;
    
    font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: bold;

   
}
.learnMore h1{
    font-size: 14px;
    font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: bold;
   color: rgb(0, 112, 186);

}
.flex2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgb(0, 48, 135);
}
.flex2 h1{
   color: white;
   font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-top: 50px;
}
.box{
    display: flex;
    flex-direction: row;
   
}
 .box div{
    margin-left: 50px;
     width: 350px;
     height: 100px;
 }
 .box1 .boxTop{
     font-size: 25px;
     font-weight: 300;
     font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
 }
 .box1 .boxTop1{
     margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}
.box1 .boxTop2{
    margin-top: 55px;
   font-size: 15px;
   font-weight: bold;
   font-family: 'Inter', sans-serif;
}
.box2 .boxTop{
    margin-top: 45px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.box2 .boxTop1{
    margin-top: 20px;
   font-size: 15px;
   font-weight: 300;
   font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}
.box2 .boxTop2{
   margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}
.box3 .boxTop{
    font-size: 25px;
    font-weight: 300;
    font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}
.box3 .boxTop1{
    margin-top: 20px;
   font-size: 15px;
   font-weight: 300;
   font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}
.box3 .boxTop2{
   margin-top: 70px;
  font-size: 15px;
  font-weight: bold;
  font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}
.started {
    background-color: rgb(247, 249, 250);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;

   

}
.started h1{
    color: rgb(44, 46, 47);
    font-size: 25px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;

}
.started .startedButton{
   
   background-color:rgb(0, 112, 186);
    width: 300px;
    height: 50px;
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.startedButton a{
    
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  
}
.footer{
    position: absolute;
    margin-top: 350px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerLink{
    margin-left: 50px;
}
.footerLink a{
    color: rgb(44, 46, 47);
    font-size: 14px;
  font-weight: 500;
    color: rgb(43, 42, 42);
    margin-left: 30px;
}
.footerImage{
    margin-right: 50px;
}
.hr{
    margin-top: 400px;
    border: 0.5px dotted black;
}







@media (max-width: 768px) {
    .nav ul .signup {
     display:none
    }
    .PERSONAL {
        display:none
       }
    .menu a{
        display: block;
        margin-left: 50px;
        position: absolute;
        margin-top: 20px;
        border: 1px solid rgb(4, 4, 71);
        border-radius: 30px;
        padding: 10px 20px 10px 20px;
    }
    .logo{
        margin-left: 180px;
        margin-top: 30px;
    }
    .dropdown{
  
    display: none;
    }
    
    .overLay{
        height: 150px
    }
    .FirstLine{
        margin-top: 20px;
       font-size: 20px;
    }
    .signFree{
        background-color: rgb(4, 4, 61);
        width: 200px;
        height: 50px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        font-size: 15px;
    }
    .own h1{
        font-size: 12px;
        margin-top: 5px;
    }
    .paypal h1{
        margin-top: -200px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: rgb(4, 4, 61);
        font-size: 20px;
    }
    .Individual h1{
        margin-top: 30px;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
    }
    .Find h1{
        margin-top: -10px;
        font-size: 15px;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
    }
    .flex{
      
        width: 100%;
        height: 1000px;
        position: absolute;
    }
    .flex .connect{
        font-size: 25px;
        margin-top: -40px;
    }
    .flexbox {
      
        display: flex;
        flex-direction: column;
        
    }
    .learnMore {
        width: 200px;
        height: 50px;

    }
    .flex2{
        position: absolute;
        margin-top: 1080px;
        height: 900px;
}    
.box{
    margin-top: -150px;
    display: flex;
    flex-direction: column;
   
}
.box div{
    margin-top: 150px;
}
.box .boxTop2{
    margin-top: 30px;
}

.flex2 .connect{
    font-size: 20px;

}
.started{
    position: absolute;
    margin-top: 1950px;
}
.footer{
    position: absolute;
    margin-top: 2050px;
    height: 200px;
}
.footerImage{
    display: none;
}
.footerLink{
    margin-top: 0px;
}
}
